<% if params[:query] %>
  <% @cocktails = Cocktail.where("name ILIKE '%#{params[:query]}%'") %>
<% end %>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>
