<% if params[:query] %>
  <% @cocktails = Cocktail.where("name ILIKE '%#{params[:query]}%'") %>
<% end %>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
    <% style = "background-image: url(#{cocktail.image_url}); background-size: cover;" if cocktail.image_url %>
      <div class="card" style="<%= style %>">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>
